<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Open+Sans:wght@300&family=Roboto+Condensed:wght@700&family=Work+Sans:wght@200&display=swap"
    rel="stylesheet"
  />
</head>

<body>
  <!-- TITLE -->
  <div class="container title">
    <h1>Orbital</h1>
    <hr />
  </div>

  <!-- GALLERY -->
  <div class="container gallery">
    <figure class="gallery__item gallery__item--1">
      <img src="<%=img1%>" class="gallery__img" alt="Image 1" />
    </figure>
    <figure class="gallery__item gallery__item--2">
      <img src="<%=img2%>" class="gallery__img" alt="Image 2" />
    </figure>
    <figure class="gallery__item gallery__item--3">
      <img src="<%=img3%>" class="gallery__img" alt="Image 3" />
    </figure>
    <figure class="gallery__item gallery__item--4">
      <img src="<%=img4%>" class="gallery__img" alt="Image4" />
    </figure>
  </div>

  <div class="container login">
    <p><a href="/profile">profile</a></p>
  </div>

  <div class="container login">
    <p><a href="/auth/login">login</a> / <a href="/auth/login">signup</a></p>
  </div>
</body>
